article {
    // max-width: 850px;

    p {
        padding: var(--content-padding);
        margin-bottom: 2em;
        hyphens: auto;
    }

    ul {
        margin-bottom: 2em;
    }

    li p {
        margin-bottom: 0.5em;
    }

    margin-bottom: 50px;

    .image {
        margin-bottom: 1em;
    }


    &.light {
        --color: var(--color-light);
    }
}