.container {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    padding: 2rem 0;
    background: transparent;
    /* var(--link-color-active); */
    overflow: hidden;

    border: solid 1px black;
    border-left: none;
    border-right: none;
}

.container > * {
    flex-shrink: 0;
    padding-right: .5rem;
    min-width: 100%;
    white-space: nowrap;
}

.left > * {
    animation: animLeft 20s infinite linear;
}

.right > * {
    animation: animRight 20s infinite linear;
}

@keyframes animLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

@keyframes animRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}