body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

@font-face {
    font-family: Regular;
    src: url("fonts/Proxima Nova Regular.otf") format("opentype");
}

@font-face {
    font-family: Thin;
    src: url("fonts/Proxima Nova Thin.otf") format("opentype");
}

@font-face {
    font-family: Bold;
    src: url("fonts/Proxima Nova Bold.otf") format("opentype");
}

p {  
    font-family: Regular; 
}

p.small {
    line-height: 120%;
}

p.big {
    line-height: 200%;
}

p.break-word {
    width: 20em;
    overflow-wrap: break-word;
}

p.copyright {
    color: grey;
    text-align: left;
    font-size: 80%;
}

b {
    font-family: Bold;
    font-size: 150%;
}

/*h2 {  
    font-family: Proxima Nova;
    font-size: 150%;
}
*/
a:link, a:visited { 
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:active { 
    color: magenta;
}

a:hover {
    color: magenta;
}

header {
    text-align: left;
    font-size: 100%;
}

/*.contacts {
    position: absolute;
    top: 2em;
    left: 0;
    border: 0.2em solid black;
    outline: 0.2em solid black;
    outline-offset: -0.1em;
}
.contacts mark {
    background-color: black;
    color: white;
}
*/
.contact {
    position: absolute;
    top: 2em;
    right: 0;
}

.home {
    position: absolute;
    top: 2em;
    left: 5%;
}

main {
    text-align: left;
    color: black;
}

.logo {
    max-width:90%;
    max-height:90%;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
}

/*.menu {
    max-width:50%;
    max-height:50%;
    position:absolute;
    top:0%; left:0%; right:0; bottom:0;
    margin:auto;
}
*/

.container {
    position: absolute;
    top:10em; left: 5%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

.block { 
    width:20em; 
    height:35em; 
    float:left; 
    margin-right:5em;
    display: inline-block;
    vertical-align: top;
/*    overflow-x: hidden;
    overflow-y: auto;*/
/*    word-wrap: break-word;*/

 /*   border: 1px solid black;*/
}

footer {
    position:absolute;
    bottom: 1em;
    left: 5%;
}