.menu {
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;

    background-color: var(--color-background);

    position: relative;
    left: 10px;

    display: flex;
    flex-direction: row;
    gap: 28px;
}

.menu.vertical {
    flex-direction: column;
}

.mobileButton {    
    position: relative;
    width: 36px;
    height: 36px;
    z-index: 1;

    background: none;
    border: none;
    padding: 0;
}

.mobileButton > svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -4px;
    transition: opacity .5s ease;
}

.mobileMenuAnchor {
    position: absolute;
    top:0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: visible;
}

.mobileMenuContainer {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    padding-top: 120px;
    background: var(--color-background-opposite);
    color: var(--color-text-opposite);
    transition: left .5s ease;
}

.mobileMenu {
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background: none;
    display: flex;
    flex-flow: column;
}

.contacts {
    position: absolute;
    bottom: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: var(--content-padding);
    padding-bottom: 1rem;
}
.links {
    display: flex;
    flex-flow: column;
    gap: 8px;
    text-align: right;
}
.icons {
    display: flex;
    align-items: end;
    gap: 16px;
}
.icons > a, .links > a {
    color: var(--color-text-opposite);
}

.cross > path {
    fill: var(--color-background) !important;
}

@media screen and (max-width: 31.25em) {
    .menu {
        gap: 52px;
    }
}