.Gcontainer {
    box-sizing: border-box;
}

.button {
    text-decoration: none;

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    margin: 0;
    padding: 5px 10px;

    color: var(--color-text);
    background-color: var(--color-background);
}

.button:first-child {
    border-right: none;
}

.button:last-child {
    border-left: none;
}

.button.active:hover {
    background-color: var(--link-color-active);
}

.button.active {
    cursor: pointer;
    color: var(--color-text-opposite);
    border-color: var(--link-color-active);
    background-color: var(--color-background-opposite);
}
