.container {
    display: flex;
    gap: 1rem;
    margin-top: .75rem;
}

.selected {
    color: var(--color-text-opposite) !important;
    background-color: var(--color-background-opposite) !important;
    border-radius: 0 !important;
}

.item {
    list-style: none;
    font-size: var(--font-second-size);
    padding: 0 10px;
    cursor: pointer;
    transition: all .5s ease;
}
.item:hover {
    color: var(--color-text-opposite);
    background-color: var(--color-background-opposite);
}

/* MOBILE SELECT */

.select {
    margin-top: 2px;
    min-width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.select > span {
    margin-left: .5rem;
}
.menu {
    border-radius: 0 !important;
    box-shadow: none !important;
    right: -1px;
    border: solid 1px var(--color-background-opposite) !important;
    padding: 0;

    color: var(--color-text) !important;
    font-family: var(--font-family) !important;
}
.menu > li {
    font-size: var(--font-second-size) !important;
    padding: .5rem 1rem;
}