.container {
    display: flex;
    gap: 1rem;
    margin-top: .75rem;
}

.selected {
    color: var(--color-text-opposite);
    background-color: var(--color-background-opposite);
}

.item {
    list-style: none;
    font-size: var(--font-second-size);
    padding: 0 10px;
    cursor: pointer;
    transition: all .5s ease;
}
.item:hover {
    color: var(--color-text-opposite);
    background-color: var(--color-background-opposite);
} 