.title {
    margin-bottom: 50px;
    padding: var(--content-padding);
}

.h1 {
    font-size: 46px;
    text-transform: uppercase;
    position: relative;
}

.caption {
    margin: 0;
    line-height: var(--font-second-size);
}


@media screen and (max-width: 31.25em) {
    .h1 {
        font-size: 34px;
    }
}
