.title {
    margin-bottom: 50px;
    padding: var(--content-padding);
}

.h1 {
    font-size: 46px;
    text-transform: uppercase;
    position: relative;
}

.multiline {
    color: var(--color-text-opposite);
    background: var(--color-background-opposite);
    width: fit-content;
    box-decoration-break: clone;
    padding: 0 .5rem;
    display: inline;
}

.title-caption {
    margin: 0;
    line-height: var(--font-second-size);
}


@media screen and (max-width: 31.25em) {
    .h1 {
        font-size: 34px;
    }
}