.item {
    position: relative;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    text-decoration: none;

    /* border: solid 1px var(--color-background-opposite); */
    /* transition: all 0.5s ease; */
    filter: grayscale(1);
}

.item:hover {
    border-color: var(--link-color-active);
}