.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    --page-size: 70%;
}

.layout header {
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 100%;
    background: var(--color-background);

    display: flex;
    justify-content: space-between;
    padding: var(--content-padding);

    padding: 15%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.layout main {
    flex: 1;
}

.layout footer {
    width: var(--page-size);
    margin: 0 auto;
    padding: var(--content-padding);
    padding-bottom: var(--margin-m);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: var(--font-second-size);
}

.content {
    width: var(--page-size);
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    padding-top: 80px;

    background: var(--color-background);
}

@media screen and (max-width: 1280px) {
    .layout {
        --page-size: 80%;
    }
    .layout header {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 960px) {
    .layout {
        --page-size: 90%;
    }
    .layout header {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 31.25em) {
    .layout {
        --page-size: 100%;
    }
    .layout header {
        padding: var(--content-padding);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
