.gallery {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    max-width: 1075px;
    left: 600px;

//   position: absolute;
//   top:15em; 
//   left: 450px;
//   min-width: 430px;
//   max-width: 860px;
//   overflow-x: auto;
}


@media only screen and (max-width: 1900px) {
    .gallery {
        width: 860px;
        left: 350px;
    }
}

@media only screen and (max-width: 1300px) {
    .gallery {
        width: 90%;
        left: 50px;
    }
}

.gallery{
    &--theme-interactive {
        img { 
            filter: grayscale(100%);
        }
    }
}

.gallery-item {
    --margin: 15px;

    width: 200px;
    height: 200px;

    margin-bottom: var(--margin);
    margin-right: var(--margin);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:last-child {
        --margin: 0;
    }

    position: relative;

    // .gallery-item-img-proposal {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    // }
}

.gallery-item--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    opacity: 0;
    transition: .5s ease;

    background-color: #FF0066;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: 1;
    }
}

.gallery-item--text {
    font-family: var(--font-normal-family);

    color: white;
    font-size: 20px;
    text-align: center;
}