.container {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-bottom: 2em;
    padding: var(--content-padding);
}

.col {
    flex-flow: column;
}
.container > * {
    margin-bottom: 0;
}
.container * {
    flex: 1;
    padding: unset;
}

@media screen and (max-width: 960px) {
    .container {
        flex-flow: column;
        align-items: stretch;
    }
}
