.container {
    position: relative;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    cursor: pointer;

    text-decoration: none;
}

.container:hover {
    text-decoration: none;
}

.container:hover .img {                
    filter: grayscale(0%);
}

.img {
    height: calc(var(--cell-size-min) + var(--grid-gap));

    display: block;
    width: 100%;
    object-fit: cover;

    filter: grayscale(100%);

    transition: filter .5s ease;
}

.label {
    pointer-events: none;

    position: relative;

    display: flex;
    flex-flow: column;
    align-items: flex-start;

    color: var(--color-text);
    font-family: var(--font-normal-family);
    font-weight: bolder;
    font-size: 1.2em;
    
    padding: 5px 0;
}

.label.small {
    font-size: 0.8em;
    line-height: 1.6em;
}

.border {
    border: solid 1px var(--color-background-opposite);
    transition: all .5s ease;
}

.container:hover .border  {
    border-color: #f91b86;
}

@media screen and (max-width: 31.25em) {
    .label {
        font-size: 0.8em;
    }
}