.contact {
    --color: black;
    a {
        color: var(--color);
        text-decoration: none;

        &:hover {
            color:var(--link-color-active);
        }
    }

    &--dark {
        --color: var(--link-color-default);
        
        position: absolute;
        top: 2em;
        right: 0;
    
        background-color: black;
        padding: 5px 65px 5px 45px;
    }
}