.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: var(--font-second-size);
}

.footer a {
    color: var(--color-light);
}

.footer a:hover {
    color: var(--link-color-active);
}

.footer section {
    display: flex;
    color: var(--color-light);
    flex-direction: column;
}

.footer section.right {
    align-items: flex-end;
}
