:root {
    --color-light: #b3b3b3;

    --font-family: 'Roboto', sans-serif;

    --color-text: black;
    --color-text-opposite: white;
    --color-background: white;
    --color-background-opposite: black;

    --link-color-default: var(--color-text);
    --link-color-active: rgb(248, 27, 133);
    --link-color-inactive: #ccc;
    --link-color-focus: rgb(102, 0, 255);
    --font-main-family: var(--font-family);
    --font-main-size: 2em;
    --font-main-line-height: 1.2em;
    --font-second-family: var(--font-family);
    --font-second-size: 16px;
    --font-normal-family: var(--font-family);
    --font-normal-weight: 100;
    --font-normal-size: 18px;
    --font-normal-line-height: 30px;

    --margin-s: 1em;
    --margin-m: 3em;
    --margin-l: 5em;

    --content-padding: 0;
}

svg.icon-link {
    fill: var(--color-text);
}

svg.icon-link:hover {
    path {
        fill: var(--link-color-active);
    }
}

.partner-logo {
    display: block;
    width: 200px;
    fill: var(--color-text);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: white;
        --color-text-opposite: black;

        --color-background: rgb(20, 20, 30);
        --color-background-opposite: white;
    }
}

body {
    font-family: var(--font-normal-family);
    font-weight: var(--font-normal-weight);
    line-height: var(--font-normal-line-height);
    font-size: var(--font-normal-size);

    background-color: var(--color-background);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    line-height: var(--font-main-line-height);

    color: var(--color-text);
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--margin-m);
    margin-bottom: var(--margin-s);
    padding: var(--content-padding);
}

h1 {
    font-size: var(--font-main-size);
}

p {
    margin: 0;
}

a {
    text-decoration: underline;
    color: var(--link-color-default);

    &:hover {
        text-decoration: underline;
        color: var(--link-color-active);

        svg {
            fill: var(--link-color-active);
        }
    }

    &:focus {
        color: var(--link-color-focus);
        outline: 0;
    }
}

// LIST STYLE

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

ul li:before {
    content: '/';
    display: block;
    float: left;
    width: 0.75em;
    font-size: 1.2em;
    font-weight: bolder;
}

.container {
    position: absolute;
    top: 10em;
    left: 5%;
    overflow-x: auto;
}


// ARTICLE STYLE 

article {
    margin-bottom: 50px;
}

article p {
    padding: var(--content-padding);
    margin-bottom: 2em;
    hyphens: auto;
}

article ul {
    margin-bottom: 2em;
}

article li p {
    margin-bottom: 0.5em;
}

article .image {
    margin-bottom: 1em;
}


// MOBILE STYLE

@media screen and (max-width: 31.25em) {
    :root {
        --content-padding: 0 15px;
    }
}
