
:root {
    --color-light: #b3b3b3;

    --font-family: 'Roboto', sans-serif;

    --color-text: black;
    --color-text-opposite: white;
    --color-background: white;
    --color-background-opposite: black;

    --link-color-default: var(--color-text);
    --link-color-active: #ff0066;
    --link-color-inactive: #ccc;
    --link-color-focus: #ff0066;
    --font-main-family: var(--font-family);
    --font-main-size: 2em;
    --font-main-line-height: 1.15em;
    --font-h2-family: var(--font-family);
    --font-h2-size: 1.5em;
    --font-h2-line-height: 1.2em;
    --font-second-family: var(--font-family);
    --font-second-size: 16px;
    --font-normal-family: var(--font-family);
    --font-normal-weight: 100;
    --font-normal-size: 18px;
    --font-normal-line-height: 30px;

    --animation-scale-factor: 1.1;
    --animation-time: 0.25s;

    --margin-s: 1em;
    --margin-m: 3em;
    --margin-l: 5em;

    --content-padding: 0;
}

svg.icon-link {
    fill: var(--color-text);
}

svg.icon-link:hover path {
    fill: var(--link-color-active);
}

.partner-logo {
    display: block;
    width: 200px;
    fill: var(--color-text);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-text: white;
        --color-text-opposite: black;

        --color-background: rgb(20, 20, 30);
        --color-background-opposite: white;
    }
} */

html {
    overflow-x: hidden;
}

body {
    font-family: var(--font-normal-family);
    font-weight: var(--font-normal-weight);
    line-height: var(--font-normal-line-height);
    font-size: var(--font-normal-size);

    background-color: var(--color-background);
    color: var(--color-text);

    /* fix a issue with wide block on windows to prevent horizonal scrolling */
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    line-height: var(--font-main-line-height);

    color: var(--color-text);
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--margin-m);
    margin-bottom: var(--margin-s);
    padding: var(--content-padding);
}

h1 {
    font-size: var(--font-main-size);
}

h2 {
    text-transform: uppercase;
}

p {
    margin: 0;
}

/* LINK */

a {
    text-decoration: underline;
    color: var(--link-color-default);
}

a:hover {
    text-decoration: underline;
    color: var(--link-color-active);
}

a:focus {
    color: var(--link-color-focus);
    outline: 0;
}

/* LINK SVG */

a svg {
    fill: var(--color-background-opposite);
}

a:hover svg {
    fill: var(--link-color-active);
}

/* ARTICLE STYLE */

article {
    margin-bottom: 50px;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
}

article h1 {
    margin-top: 2rem;
}

article h2 {
    margin-top: var(--margin-s);
}

article p {
    padding: var(--content-padding);
    margin-bottom: 2em;
    hyphens: auto;
}

article ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;

    margin-bottom: 2em;
}
article :is(ul, ol) li {
    margin-bottom: .5em;
}
article ul li:before {
    content: '/';
    display: block;
    float: left;
    width: 0.75em;
    font-size: 1.2em;
    font-weight: bolder;
}

article ol {
    padding-left: 1em;
}

article li p {
    margin-bottom: 0.5em;
}

article .image {
    margin-bottom: 1em;
}

article iframe {
    max-width: 100%;
    margin-bottom: 2em;
    padding: var(--content-padding);
}

/* margin for custom mdx blocks like <Image> */
article > div { 
    margin-bottom: 1em;
}
div > p {
    margin-bottom: 0;
}
p > p {
    margin-bottom: 0;
}

/* carusel */
.slick-active > button {
    background-color: white !important;
    color: white;
    border-color: black !important;
}

/* MOBILE STYLE */

@media screen and (max-width: 31.25em) {
    :root {
        --content-padding: 0 0.5rem;
    }

    article > :is(
        h1,
        h2,
        h3,
    ) {
        padding: var(--content-padding);
    }

    article ul {
        padding-left: 1.5em;
        padding-right: 1em;
    }

    body::-webkit-scrollbar:horizontal {
        height: 0px;
    }
}
