.container {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.container > ul {
    list-style: none;
    padding-left: 0;
}
.container > ul > li::before {
    content: '/';
    margin-right: .5rem;
}

@media screen and (max-width: 960px) {
    .emptyLeft {
        display: none;
    }
}


@media screen and (max-width: 31.25em) {
    .container {
        padding: var(--content-padding);
    }
}