.container {
    width: 100%;
    display: flex;
    flex-flow: column;
}

@media screen and (max-width: 960px) {
    .emptyLeft {
        display: none;
    }
}


@media screen and (max-width: 31.25em) {
    .container {
        padding: 0 16px;
    }
}