.container {
    position: relative;
    height: 40vh;
    margin-bottom: 6rem;
}

@media screen and (max-width: 960px) {
    .mobileHidden {
        display: none;
    }
    
    .container {
        height: 400px;
        margin-bottom: 2rem;
    }
}