.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: max(8rem, 15%);
    padding: 6rem 0;
    min-height: max(min(100vh, 100vw) - 3rem, 100%);
}

.three {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    text-align: center;
    /* display: none; // in presentation uncomment to fix mobile */
}

.three>div {
    margin-bottom: 0;
}

.three>div>div {
    flex: 1;
}

@media screen and (max-width: 960px) {
    .three {
        font-size: 2rem;
        line-height: 2rem;
    }
}