.tables {
    position: relative;
    scroll-behavior: smooth;
    padding-top: 3rem;
}

.container {
    position: sticky;
    top: 3.75rem;
    background: white;
    z-index: 2;
    padding: 1rem 0;
}

.container a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: var(--color-background-opposite);
    color: var(--color-text-opposite);
    padding: 0.5rem 1rem;
    transition: background-color .25s;
}

.container a:hover {
    background-color: var(--link-color-focus);
}

.container>div {
    margin: 0;
}

.id {
    position: absolute;
    top: -10rem;
}

.tables>h2 {
    font-size: calc(46px*2);
    padding: 0;
    line-height: 0;
}

.tables>h2>.big {
    line-height: calc(var(--font-main-line-height)*.75);
}

.tables>h2>.small {
    font-size: 2rem;
    line-height: calc(var(--font-main-line-height)*.75);
}

@media screen and (max-width: 960px) {
    .container {
        display: none;
    }

    .tables>h2>.big {
        font-size: calc(34px*1.5);
    }

    .tables>h2>.small {
        font-size: 1rem;
        line-height: 0;
    }
}