.tables {
    position: relative;
    scroll-behavior: smooth;
    padding-top: 3rem;
}

.tables h2 {
    line-height: unset;
}

.container {
    position: sticky;
    top: 3.75rem;
    background: white;
    z-index: 2;
    padding: 1rem 0;
}

.container a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: var(--color-background-opposite);
    color: var(--color-text-opposite);
    padding: 0.5rem 1rem;
    transition: background-color .25s;
    ;
}

.container a:hover {
    background-color: var(--link-color-focus);
}

.container>div {
    margin: 0;
}

.id {
    position: absolute;
    top: -10rem;
}

@media screen and (max-width: 960px) {
    .container {
        display: none;
    }
}