.container {
    display: flex;
    flex-flow: column;
}

.name {
    padding: 8px 0;
    flex: 0 0 50%;
}

@media screen and (max-width: 1280px) {
    .name {
        flex: 1 0 100%;
        padding: 16px 0;
    }
    .mobileHidden {
        display: none;
    }
}

@media screen and (max-width: 31.25em) {
    .container {
        padding: 0 16px;;
    }
}