.container {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    padding-top: 10px;
    margin-bottom: 6rem;
}

@media screen and (max-width: 960px) {
    .container {
        display: none;
    }
}