.container {
    position: sticky;
    top: 3.5rem;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.img {
    transition: filter .5s ease;
}
.img:hover {
    filter: grayscale(1);
}

.imgSelected {
    filter: grayscale(1);
}

.text {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    pointer-events: none;

    font-size: 20px;
    font-weight: 900;
    color: var(--color-text);
    background: var(--color-text-opposite);
    padding: 0 .5rem;
}
.text > span {
    color: var(--color-text);
    width: fit-content;
    font-size: 20px;
    font-weight: 900;
    box-decoration-break: clone;
    line-height: var(--font-main-line-height);
}

@media screen and (max-width: 1280px) {
    .text {
        background-color: transparent;
        padding: unset;
        width: auto;
    }

    .text > span {
        background: var(--color-text-opposite);
        font-size: 34px;
        padding: 0 .5rem;
    }

    .img:hover {
        filter: none;
    }
}

@media screen and (max-width: 960px) {
    .container {
        display: none;
    }
}