.container {
    position: sticky;
    top: 10px;
    z-index: 2;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.img {
    transition: filter .5s ease;
}
.img:hover {
    filter: grayscale(1);
}

.imgSelected {
    filter: grayscale(1);
}

.text {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-text);
    background: var(--color-text-opposite);
    padding: 0 .5rem;
    pointer-events: none;
}

@media screen and (max-width: 1280px) {
    .text {
        font-size: 16px;
    }
}

@media screen and (max-width: 960px) {
    .container {
        display: none;
    }
}