.container {
    margin-bottom: 50px;
    padding: var(--content-padding);

    font-weight: 900;
    line-height: var(--font-main-line-height);
    font-size: 46px;
    text-transform: uppercase;
    color: var(--color-text);
}

.multiline {
    color: var(--color-text-opposite);
    background: var(--color-background-opposite);
    width: fit-content;
    box-decoration-break: clone;
    padding: 0 .5rem;
}


@media screen and (max-width: 31.25em) {
    .container {
        font-size: 32px;
    }
}